.courses {
  padding: 50px 0;
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-gap: 30px;
    }
    &__img {
        width: 200px;
        height: 200px;
    }
    &__call {
      font-weight: 600;
      font-size: 2.2rem;
      line-height: 1;
      letter-spacing: -.05rem;
      margin-bottom: 20px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
    padding: 25px 0;
  }
  .pagination li:not(:last-child) {
    margin-right: 20px;
  }
  .pagination a {
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #F1BC2E;
    color: #F1BC2E;
  }
  
  .pagination__link {
    font-weight: bold;
  }
  
  .pagination__link--active a {
    color: #000;
    background: #F1BC2E;
  }
  
  .pagination__link--disabled a {
    color: #000;
    border: 1px solid #000;
  }
  