.courses {
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 30px;
    }
    &__img {
        width: 200px;
        height: 200px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    cursor: pointer;
    padding: 25px 0;
  }
  .pagination li:not(:last-child) {
    margin-right: 20px;
  }
  .pagination a {
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #6c7ac9;
    color: #6c7ac9;
  }
  
  .pagination__link {
    font-weight: bold;
  }
  
  .pagination__link--active a {
    color: #fff;
    background: #6c7ac9;
  }
  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
  }
  